# 1. What are data structures, and why are they important?
Answer: Data structures bring together the data elements in a logical way and facilitate the effective use, persistence and sharing of data. They provide a formal model that describes the way the data elements are organized. Data structures are the building blocks for more sophisticated applications.
Why are data structures important?
Efficient code
Choosing the right data structure for a problem can help programmers write more efficient code.
Improved performance
The right data structure can reduce the time and space complexity of an algorithm, which improves its overall performance.
Faster and more efficient software
Data structures help programmers organize data in a way that supports quick and easy searching, sorting, and updating.
Examples of data structures
Array: A sequential arrangement of elements of the same data type
Linked list: A collection of objects connected in a linear order
Hash table: A collection of items stored in an associative array that plots keys to values
Stack: A collection of items stored in a linear order
Queue: A collection of items stored in a linear order, but the operation order must be “first in, first out” only
Tree: A multilevel data structure that uses nodes
Data structures are used in almost every program or software system.

# 2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be changed after they are created, while immutable data types cannot.
Examples of mutable data types
lists, dictionaries, sets, objects, functions, and dates.
Examples of immutable data types
strings, tuples, numbers, booleans, null, and undefined.
Performance implications
Immutable data types are usually faster to access and process.
Mutable data types are more flexible, but they can require more memory space to resize.
Benefits of immutability
Immutable objects are thread-safe.
They are easier to understand and reason about.
They offer higher security than mutable objects.
They can help avoid side effects, which are changes in a program's state or behavior that are not intended or expected.

# 3. What are the main differences between lists and tuples in Python?
n Python, the main differences between lists and tuples are:
Mutability: Lists are mutable, meaning they can be changed, while tuples are immutable, meaning they cannot be changed.
Memory efficiency: Tuples are more memory efficient than lists.
Access speed: Tuples are faster than lists because they are immutable.
Syntax: Lists use square brackets, while tuples use round brackets or parentheses.
Other differences between lists and tuples:
Length
Once defined, tuples have a fixed length, while lists have a dynamic length.
Use cases
Tuples are better for data that you don't want to change, while lists are better for data that might increase and shrink.

# 4. Describe how dictionaries store data.
n Python, dictionaries are mutable data structures that allow you to store key-value pairs. Dictionary can be created using the dict() constructor or curly braces' {}'. Once you have created a dictionary, you can add, remove, or update elements using the methods dict.

# 5. Why might you use a set instead of a list in Python?
Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through. To test this, the code below performs two membership tests. In one case, the container is a list and in the other, it's a set.

# 6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).
Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

# 7. How do tuples ensure data integrity in Python?
Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
In Python, a hash table is a data structure that's used to implement dictionaries. A dictionary is a built-in data type that stores key-value pairs.
How hash tables work
A hash function generates a unique key for each value.
The hash value of the key determines which bucket to use for the data.
The hash function computes an index into an array of buckets or slots.
The desired value can be found in the bucket or slot indicated by the index.
Why hash tables are useful
They provide an efficient way to organize data for quick access.
The average number of instructions needed to look up an item is independent of the number of items in the table.
How dictionaries use hash tables
Python dictionaries are built using hash tables and the open addressing collision resolution method.
The keys in a dictionary are unique and immutable, which means they can't be changed once they're set.
The values in a dictionary can be of any type and are mutable, meaning you can change them.

# 9. Can lists contain different data types in Python?
A list in Python CAN contain different types of data. Each item in the list is separated by a comma and the entire list is enclosed in square brackets []. To add a new item to the list, just edit the list starting before the closing bracket. Add a comma and the new item. It doesn’t matter what the type is for the previous item.

In the example below, the elements list contains the name of an element and its atomic number and mass. The list then contains the same data for another element. The data types contained in the list are strings, integers, and floating point values

elements = [‘Hydrogen’, 1, 1.007825, ‘Helium’, 2, 4.00260]

# 10. Explain why strings are immutable in Python.
In Python, strings are immutable because their content cannot be changed after they are created. This is done to ensure security, thread safety, and to simplify memory management.

# 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries are more efficient than lists for certain tasks, like looking up data, because they are faster and easier to use. ![Screenshot 2025-02-25 180733.png]()

# 12. Describe a scenario where using a tuple would be preferable over a list.
The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists. When it comes to time efficiency, tuples have a slight advantage over lists especially when we consider lookup value. If you have data that shouldn’t change, you should choose tuple data type over lists.
Let’s further understand how the differences in tuples and lists may affect our Python code in terms of time and memory efficiency.

As lists are mutable, Python needs to allocate an extra memory block in case there is a need to extend the size of the list object after we create it. In contrast, as tuples are immutable and of a fixed size, Python allocates only the minimum memory block required for the data.

As a result, tuples are more memory-efficient than lists.

# 13. How do sets handle duplicate values in Python?
If the order of the elements is not critical, we can remove duplicates using the Set method and the Numpy unique() function. We can use Pandas functions, OrderedDict, reduce() function, Set + sort() method, and iterative approaches to keep the order of elements.

# 14. How does the "in" keyword work differently for lists and dictionaries?
The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.

# 15. Can you modify the elements of a tuple? Explain why or why not.
No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements are fixed and cannot be changed, added, or removed.
Explanation
Tuples are immutable, unlike lists, which are mutable and can be modified.
If you try to change a tuple element, you'll get a TypeError error.
You can perform other operations on a tuple that don't modify the original tuple, such as slicing.
If you want to change the values of a tuple, you can convert the tuple to a list, change the list, and then convert the list back to a tuple.
Tuples are more memory-efficient than lists.
Tuples are often used to store heterogeneous (different) data types, while lists are often used to store homogeneous (similar) data types.

# 16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary that is stored within another dictionary. It's a powerful tool for managing and organizing complex data.
Example
You can use a nested dictionary to store employee information by department. In this case, the keys would be the department names and the values would be dictionaries of employees in that department.
You can use a nested dictionary to track product categories, subcategories, and individual product details.

# 17. Describe the time complexity of accessing elements in a dictionary.
The time complexity of accessing an element in a Python dictionary is O(1) on average, which means it takes constant time. However, in the worst case, it can be O(n) if there are many hash collisions.
Explanation
The time complexity of dictionary operations depends on the size of the dictionary and the operation being performed.
The worst-case complexity occurs when all elements are in a single hash bucket.
Hash collisions in dictionaries can degrade O(1) operations to O(n).

# 18. In what situations are lists preferred over dictionaries?
A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered unordered because they don't maintain a specific order for items. This is so that they can be accessed quickly by key, rather than by index.
Explanation
Dictionaries are a data structure that store key-value pairs.
They are optimized for fast lookups and retrieval based on key.
In older versions of Python, dictionaries didn't preserve the order of items.
In Python 3.7 and later, dictionaries retain the order of items, but they are still called "unordered".
Because dictionaries are unordered, you can't index or slice them like ordered structures.
If you want to collect a set of objects in order, you can use an ordered data structure like a list or tuple.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
In Python, lists are best for retrieving data by index, while dictionaries are best for retrieving data by key.
How to create lists and dictionaries
To create a list, put elements in square brackets and separate them with commas
To create a dictionary, put key-value pairs in curly brackets { } and separate them with commas
When to use lists and dictionaries
Use lists for ordered collections and sequence operations, like maintaining a stack or queue
Use dictionaries for quick data look-ups, configurations, or caches
Mutability
Lists and dictionaries are both mutable, meaning you can add, edit, delete, or modify the elements. However, dictionaries do not allow duplicate keys.

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Python"
print(name)

Python

In [2]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print (len(string))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print (string[0:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print (string.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print (string.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print (list)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print (list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print (list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print (list[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print (tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print (tuple[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print (min(tuple))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print (tuple.index('cat'))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
thistuple = ("apple", "banana", "kiwi")
if "kiwi" in thistuple:
  print("Yes, 'kiwi' is in the fruits tuple")

Yes, 'kiwi' is in the fruits tuple

In [20]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print ('set:', set)

set: {'b', 'c', 'a'}

In [23]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print (set)

set()

In [24]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print (set)

{1, 2, 3}

In [25]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print (set1.union(set2))

{1, 2, 3, 4, 5}

In [26]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print (set1.intersection(set2))

{2, 3}

In [1]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {
  "name": "Mohit",
  "age": 34,
  "city": "Rampur"
}
print (dict)

{'name': 'Mohit', 'age': 34, 'city': 'Rampur'}

In [2]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print (dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
# 23. . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print (dict['name'])

Alice

In [4]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print (dict)

{'name': 'Bob', 'city': 'New York'}

In [6]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("Yes, 'city' is one of the keys in the this dict dictionary")

Yes, 'city' is one of the keys in the this dict dictionary

In [8]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
print (list)
tuple = (1, 2, 3, 4, 5)
print (tuple)
dict = {
  "name": "Mohit",
  "age": 34,
  "city": "Rampur"
}
print (dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Mohit', 'age': 34, 'city': 'Rampur'}

In [9]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list = []
for i in range(5):
    list.append(random.randint(1, 100))
list.sort()
print (list)

[12, 31, 37, 43, 45]

In [10]:
# 28. Write a code to create a list with strings and print the element at the third index.
list = ['a', 'b', 'c', 'd']
print (list[2])

c

In [11]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print (dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [12]:
# 30. Write a code to convert a list of strings into a set.
list = ['a', 'b', 'c', 'd']
set = set(list)
print (set)

{'c', 'd', 'b', 'a'}